# Same as full workflow (eg from fortio/multicurl) but without the goreleaser step
name: "Shared library fortio workflows"

on:
    push:
      branches: [ main ]
      tags:
        - 'v*'
    pull_request:
      branches: [ main ]

jobs:
    call-gochecks:
        uses: fortio/workflows/.github/workflows/gochecks.yml@main
    call-codecov:
        uses: fortio/workflows/.github/workflows/codecov.yml@main
    call-codeql:
        uses: fortio/workflows/.github/workflows/codeql-analysis.yml@main
    releaser-fps:
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        uses: fortio/workflows/.github/workflows/releaser.yml@multi_binary
        with:
            description: "Fortio terminal fps checker"
            binary_name: "fps"
            main_path: "./ansipixels/fps"
            dockerfile: "./Dockerfile.fps"
        secrets:
            GH_PAT: ${{ secrets.GH_PAT }}
            DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
            DOCKER_USER: ${{ secrets.DOCKER_USER }}
    releaser-life:
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        uses: fortio/workflows/.github/workflows/releaser.yml@multi_binary
        with:
            description: "Fortio terminal Conway's game of life demo"
            binary_name: "life"
            main_path: "./life"
            dockerfile: "./Dockerfile.life"
        secrets:
            GH_PAT: ${{ secrets.GH_PAT }}
            DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
            DOCKER_USER: ${{ secrets.DOCKER_USER }}
